@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", var(--font-sans);
}

header img {
    height: 1.25em;
    margin-right: 0.2em;
}

header h1 {
    font-family: "Noto Serif", serif;
    vertical-align: middle;
}

header p {
    font-style: italic;
}

#download {
    font-style: none;
    text-align: center;
}
